//-----------------------------------------------header

#home-header, #shop-header, #news-header {
    width: 100%;
    height: 70vh;
}


//----------------------------------------------shop
#shop {
    margin-top: 110px;
    margin-bottom: 110px;
    h2{
        font-size: 36px;
        margin: 0;
    }
}
.shop-container {
    display: grid;
    grid-template-columns: 73% 13%;
    gap: 50px;

    .product-container{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 30px;

        a{
            margin-bottom: 55px;
        }
        img {
            height: 250px;
            width: 300px;
        }
        h2, p {
            margin: 0;
        }
    }
    .category-container{
        text-align: center;
        h3{
            font-size: 30px;
            margin: 0;
        }
    }
}

//-----------------------------------------------news page
.news-article-title{
    color: #77DEFF;
    &:hover {
        color: #2dafe1;
    }
}
#news {
    margin-top: 110px;
    margin-bottom: 110px;
    padding: 0;

    .news-container {
        display: grid;
        grid-template-columns: 63% 23%;
        gap: 90px;

        .tags-container{
            align-self: start;
            gap: 8px;
            display: flex;
            flex-wrap: wrap;
            .tag-item{
                width: fit-content;
                text-align: left;
                border-radius: 15px;
                background: #63807c;
                padding: 5px;
                margin-right: 10px;
                height: fit-content;
                &:hover{
                    background: #e28d81;
                }
                a{
                    width: fit-content;
                }
                p{
                    margin: 0;
                    width: max-content;
                }
            }

        }
    }
}

.news-container{
    text-align: -webkit-center;
    .news-title{
        padding: 43px;
        h2 {
            font-family: Rasa;
            font-size: 3rem;
            margin: 0;
            line-height: 30px;
        }
        small{
            color: #e6e6e6;
            font-family: "Open Sans";
        }
    }
    .news-image{
        text-align: center;
        overflow: hidden;
        max-width: 1000px;
        max-height: 400px;
        background-size: cover;
        img{
            width: 100%;
        }
    }
    .news-content{
        text-align: justify;
        margin-top: 50px;
        b, strong {
            color: #77deff;
        }
        em {
            color: #b0f8ff;
        }
    }
}
.latest-news {
    text-align: left;
    width: 62%;
}
.article-center{
    justify-content: center;
}
.newsArticle {
    display: grid;
    grid-template-columns: 240px 600px;
    gap: 17px;
    margin-bottom: 55px;
    text-align: initial;
    h2{
        margin: 0;
    }
    .newsImage{
        width: 240px;
        height: 159px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}

.pagination {
    nav {
        background: transparent;
        justify-content: center;
        .arrow{
            font-weight: 900;
        }
        .numbers{
            margin: 0px 10px;
            padding: 6px 18px;
            font-weight: 900;
            background: #32362c;
            &:hover{
                background: #44483e;
            }
        }
        ul{
            display: flex;
            justify-content: center;
            padding: 0;
        }
    }
}
//----------------------------------------------item detail page
.item-container {
    img{
        max-width: 470px;
    }
    .item-title {
        font-family: 'Rasa', serif;
        font-size: 2rem;
        margin: 0;
    }
    p {
        margin-top: 0;
        line-height: 190%;
        width: 800px;
    }
    button {
        padding: 10px 50px;
        background-color: #4C5343;
        color: white;
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 40px;

        &:hover{
            background-color: #6e7563;
        }
    }
}

//----------------------------------------------- home page

#news-section{
    display: grid;
    grid-template-columns: repeat(3, 293px);
    gap: 120px;
    background-color: #31362C;
    padding: 50px;
    justify-content: center;
    h2{
        font-family: "Rasa", serif;
        margin: 8px 0;
        color: #a0eeff;
        font-size: 1.6rem;
    }
    p{
        font-family: "Open Sans";
        font-weight: 300;
        margin: 0;
    }
    .newsImage{
        width: 293px;
        height: 159px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}

#video {
    padding: 75px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 80px;
    p{
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }
}

#description {
    h1{
        font-family: Rasa;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: 2.7rem;
    }
    p{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
    }
    .game-description-container {
        padding: 50px 395px;
    }
}
