nav{
    //background: #555A68;
    background: #F4F4F4;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    a{
        padding: 20px;
        color: #080808;
    }
    .right-nav {
        padding-right: 40px;
    }
}
a{
    font-family: "Open Sans";
    &:hover {
        color: #e28d81;
    }
}
.max-width {
    max-width: 90rem;
}
h1, h2, h3, h4, p, {
    color: rgb(241 241 241);
}

h1, h2, h3 {
    font-family: "Rasa";
    font-weight: 400;
}

.margin-top-60{
    margin-top: 60px;
}

p {
    font-family: "Open Sans";
    color: white;
}

ul, li{
    list-style: none;
    color: white;
}

footer {
    background: #32362C;
    height: 263px;
    .footer-links{
        display: flex;
        padding-top: 40px;
        justify-content: center;
        color: white;
        font-family: "Open Sans";
        a{
            margin: 0px 35px;
            &:hover {
                color: #d7eaf1;
            }
        }
    }

    .social-icons{
        padding-top: 55px;
        text-align: center;
        i {
            margin: 0 20px;
        }
    }
}

.mssg{
    color: #dc1010;
    text-align: center;
}
