#home-header, #shop-header, #news-header {
  width: 100%;
  height: 70vh;
}

#shop {
  margin-top: 110px;
  margin-bottom: 110px;
}
#shop h2 {
  font-size: 36px;
  margin: 0;
}

.shop-container {
  display: grid;
  grid-template-columns: 73% 13%;
  gap: 50px;
}
.shop-container .product-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
}
.shop-container .product-container a {
  margin-bottom: 55px;
}
.shop-container .product-container img {
  height: 250px;
  width: 300px;
}
.shop-container .product-container h2, .shop-container .product-container p {
  margin: 0;
}
.shop-container .category-container {
  text-align: center;
}
.shop-container .category-container h3 {
  font-size: 30px;
  margin: 0;
}

.news-article-title {
  color: #77DEFF;
}
.news-article-title:hover {
  color: #2dafe1;
}

#news {
  margin-top: 110px;
  margin-bottom: 110px;
  padding: 0;
}
#news .news-container {
  display: grid;
  grid-template-columns: 63% 23%;
  gap: 90px;
}
#news .news-container .tags-container {
  align-self: start;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}
#news .news-container .tags-container .tag-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  border-radius: 15px;
  background: #63807c;
  padding: 5px;
  margin-right: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#news .news-container .tags-container .tag-item:hover {
  background: #e28d81;
}
#news .news-container .tags-container .tag-item a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#news .news-container .tags-container .tag-item p {
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.news-container {
  text-align: -webkit-center;
}
.news-container .news-title {
  padding: 43px;
}
.news-container .news-title h2 {
  font-family: Rasa;
  font-size: 3rem;
  margin: 0;
  line-height: 30px;
}
.news-container .news-title small {
  color: #e6e6e6;
  font-family: "Open Sans";
}
.news-container .news-image {
  text-align: center;
  overflow: hidden;
  max-width: 1000px;
  max-height: 400px;
  background-size: cover;
}
.news-container .news-image img {
  width: 100%;
}
.news-container .news-content {
  text-align: justify;
  margin-top: 50px;
}
.news-container .news-content b, .news-container .news-content strong {
  color: #77deff;
}
.news-container .news-content em {
  color: #b0f8ff;
}

.latest-news {
  text-align: left;
  width: 62%;
}

.article-center {
  justify-content: center;
}

.newsArticle {
  display: grid;
  grid-template-columns: 240px 600px;
  gap: 17px;
  margin-bottom: 55px;
  text-align: initial;
}
.newsArticle h2 {
  margin: 0;
}
.newsArticle .newsImage {
  width: 240px;
  height: 159px;
  overflow: hidden;
}
.newsArticle .newsImage img {
  width: 100%;
}

.pagination nav {
  background: transparent;
  justify-content: center;
}
.pagination nav .arrow {
  font-weight: 900;
}
.pagination nav .numbers {
  margin: 0px 10px;
  padding: 6px 18px;
  font-weight: 900;
  background: #32362c;
}
.pagination nav .numbers:hover {
  background: #44483e;
}
.pagination nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item-container img {
  max-width: 470px;
}
.item-container .item-title {
  font-family: "Rasa", serif;
  font-size: 2rem;
  margin: 0;
}
.item-container p {
  margin-top: 0;
  line-height: 190%;
  width: 800px;
}
.item-container button {
  padding: 10px 50px;
  background-color: #4C5343;
  color: white;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 40px;
}
.item-container button:hover {
  background-color: #6e7563;
}

#news-section {
  display: grid;
  grid-template-columns: repeat(3, 293px);
  gap: 120px;
  background-color: #31362C;
  padding: 50px;
  justify-content: center;
}
#news-section h2 {
  font-family: "Rasa", serif;
  margin: 8px 0;
  color: #a0eeff;
  font-size: 1.6rem;
}
#news-section p {
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0;
}
#news-section .newsImage {
  width: 293px;
  height: 159px;
  overflow: hidden;
}
#news-section .newsImage img {
  width: 100%;
}

#video {
  padding: 75px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 80px;
}
#video p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

#description h1 {
  font-family: Rasa;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 2.7rem;
}
#description p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
}
#description .game-description-container {
  padding: 50px 395px;
}
